@charset "utf-8";
/* CSS Document */
p
{
	font-size: 12pt;
}

input[type=submit]
{
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

table
{
	text-align: left;
	width: auto;
	border-collapse: collapse;
}

th, tr, td
{
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
}

tr:nth-child(even)
{
	background-color: #f2f2f2
}

.bold
{
	font-weight: bold;
}

.centered
{
	text-align: center;
}

.centered table 
{
    margin: 0 auto; 
    text-align: left;
}

.button{
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}